.button{
  display:block;
  width: 233px;
  height: 58px;
  background: #EA4F4F;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border:none;
  outline:none;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  transition: all .2s;
  &:hover{
    background: #622121;
  }
}
