.animation{
  z-index: -1;
  height: 100%;
  .circle1{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #05336e;
    animation: circle1 15s alternate infinite ease-in;
  }
  .circle2{
    animation: circle2 16s alternate infinite ease-in;
  }
  .circle3{
    animation: circle3 17s alternate infinite ease-in;
  }
  .circle4{
    animation: circle4 15s alternate infinite ease-in;
  }
  .circle5{
    animation: circle5 15s alternate infinite ease-in;
  }
  .circle6{
    animation: circle6 15s alternate infinite ease-in;
  }
  .circle7{
    animation: circle7 15s alternate infinite ease-in-out;
  }
  .circle8{
    animation: circle8 15s alternate infinite ease-in-out;
  }
  .circle9{
    animation: circle9 15s alternate infinite ease-in-out;
  }
}
@keyframes circle1 {
  0%{
    opacity: 0;
    top: 10%;
    left: 10%;
    background: #05336e;
  }
  50%{
    opacity: 1;
    top: 89%;
    left: 87%;
    transform: translate(50% 5%);
    background: #386e05;
  }
  100%{
    opacity: 1;
    top: 56%;
    left: 8%;
    transform: translate(100% 72%);
    background: #6e1105;
  }
}
@keyframes circle2 {
  0%{
    top: 45%;
    left: 45%;
    transform: translate(10% 91%);
    background: #05336e;
  }
  50%{
    top: 78%;
    left: 12%;
    transform: translate(0% 7%);
    background: #154240;
  }
  100%{

    top: 69%;
    left: 2%;
    transform: translate(100% 100%);
    background: #010e1f;
  }
}
@keyframes circle3 {
  0%{
    opacity: 1;
    top: 90%;
    left: 90%;
    transform: translate(45% 12%);
    background: #05336e;
  }
  50%{
    top: 36%;
    left: 48%;
    transform: translate(12% 7%);
    background: #154240;
  }
  100%{
    opacity: 0;
    top: 23%;
    left: 91%;
    transform: translate(1% 0%);
    background: #010e1f;
  }
}
@keyframes circle4 {
  0%{
    top: 4%;
    left: 8%;
    transform: translate(45% 12%);
    background: #05336e;
  }
  50%{
    top: 91%;
    left: 54%;
    transform: translate(12% 7%);
    background: #154240;
  }
  100%{
    top: 23%;
    left: 9%;
    transform: translate(1% 0%);
    background: #010e1f;
  }
}
@keyframes circle5 {
  0%{
    opacity: 0;
    top: 8%;
    left: 36%;
    transform: translate(45% 12%);
    background: #05336e;
  }
  50%{
    top: 68%;
    left: 48%;
    transform: translate(12% 7%);
    background: #154240;
  }
  100%{
    opacity: 1;
    top: 2%;
    left: 11%;
    transform: translate(1% 0%);
    background: #010e1f;
  }
}
@keyframes circle6 {
  0%{
    top: 10%;
    left: 0;
    transform: translate(45% 12%);
    background: #05336e;
  }
  50%{
    top: 6%;
    left: 47%;
    transform: translate(12% 7%);
    background: #154240;
  }
  100%{
    top: 3%;
    left: 1%;
    transform: translate(1% 0%);
    background: #010e1f;
  }
}
@keyframes circle7 {
  0%{
    opacity: 1;
    top: 71%;
    left: 12%;
    transform: translate(45% 12%);
    background: #05336e;
  }
  50%{
    top: 3%;
    left: 4%;
    transform: translate(12% 7%);
    background: #154240;
  }
  100%{
    opacity: 0;
    top: 13%;
    left: 83%;
    transform: translate(1% 0%);
    background: #010e1f;
  }
}
@keyframes circle8 {
  0%{
    top: 0;
    left: 0;
    transform: translate(45% 12%);
    background: #05336e;
  }
  50%{
    top: 73%;
    left: 29%;
    transform: translate(12% 7%);
    background: #154240;
  }
  100%{
    top: 2%;
    left: 1%;
    transform: translate(1% 0%);
    background: #010e1f;
  }
}
@keyframes circle9 {
  0%{
    opacity: 0;
    top: 19%;
    left: 50%;
    transform: translate(45% 12%);
    background: #05336e;
  }
  50%{
    top: 91%;
    left: 91%;
    transform: translate(12% 7%);
    background: #154240;
  }
  100%{
    opacity: 1;
    top: 78%;
    left: 4%;
    transform: translate(1% 0%);
    background: #010e1f;
  }
}




