@import "../../App.scss";

.main {
  flex-grow: 1;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablets {
    padding-left: 146px;
  }

  &_logo {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  &_desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 80px;
    width: 80%;

    @include tablets {
      width: 90%;
      margin-top: 100px;
      font-size: 24px;
      line-height: 28px;
    }
  }
}
