.main{
  padding-top: 100px;
  margin: 0 auto;
  width: 600px;
  &_logo{
    display: block;
    margin: 0 auto;
    width: 508px;
    height: 226px;
  }
  &_desc{
    width: 100%;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin-top: 100px;
  }
}